@charset "UTF-8";

.wrapper {
  position: relative;
  width: 100%;
}

.dropdown-btn {
  display: block;
  cursor: pointer;
  line-height: 28px;
  /* border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  border-bottom-color: rgba(0,0,0,.3);
  background-image: linear-gradient(to bottom,#fff,#eee);
  color: #666;
  text-shadow: 0 1px 0 #fff;*/
  background: transparent;
  color: #fff;
  border: 0 none;
  padding: 0 20px;
  outline: none;
}

.hide {
  display: none;
}

.dropdown-list {
  position: absolute;
  left: 0;
  top: 30px;
  min-width: 100%;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.12);
  border: 1px solid #d2d2d2;
  background-color: #fff;
  z-index: 100;
  border-radius: 2px;
  white-space: nowrap;
}

.dropdown-list li a {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  background: #fff;
  text-decoration: none;
}

.dropdown-list li a:hover {
  color: #fff;
  background: #333;
}
