@charset "UTF-8";

.wrapper, .sub-wrapper {
  margin: 0;
  padding: 0;
}

.wrapper li {
  list-style: none;
}

.wrapper .add-bottom-line {
  border-bottom: 1px solid #e5e5e5;
}

.wrapper > li > a,
.sub-wrapper > li > a {
  display: block;
  font-size: 14px;
  padding: 10px 15px 10px 10px;
  text-decoration: none;
  color: #333;
  text-align: center;
}

.wrapper > li > a:hover,
.sub-wrapper > li > a:hover {
  color: #148cf1;
}

.sub-wrapper > li > a {
  padding-left: 20px;
}

.wrapper > li > a cite,
.sub-wrapper > li > a cite {
  font-style: normal;
}
